.btn-other
{
    width: 445px;
    height: 60px;

    margin-top: 60px;
    background: #2A5EE8;
    border-radius: 25px;
    border: 0;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}



.section-2
{
    margin-top: 120px;
    background: #2A5EE8;
    top: 0;
    left: 0;
    margin-bottom: 117px;
    background-position-x: center;
}

.section-2 .about-information > div
{
    margin-top: 87px;
    text-align: center;
}

.section-2 .about-information > div:last-child
{
    margin-bottom: 87px;
}

.section-2 .images
{
    margin-bottom: 15px;
}

.section-2 .about-information h3
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.section-2 .text
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;


    color: #FFFFFF;
}

.anime-wrapper{
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    background: linear-gradient(180deg, #05f, #09f);
}
.container-svg {
    place-content: center;
    overflow: hidden;
    border-radius: 30px;
}

.item {
    width: 56%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}