.text-normal
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;

    color: #111111;
}

.text-bold
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;
}


.section-1-event .main-info
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #2A5EE8;
}


.card-event
{
    margin-top: 50px;
}

.text-under-image
{
    margin-top: 15px;
}

.event-name
{
    margin-bottom: 105px;
}


.btn-other
{
    width: 445px;
    height: 60px;

    margin-top: 80px;
    margin-bottom: 116px;
    background: #2A5EE8;
    border-radius: 25px;
    border: 0;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;

    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.section-2-event
{
    margin-top: 80px;
    background: #F8F8F8;
    top: 0;
    left: 0;
    background-position-x: center;
}

.section-2-event .main-about-event
{
    margin-top: 53.5px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.15em;

    color: #111111;
}

.section-2-event .about-event
{
    margin-top: 30px;
    padding-bottom: 53px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;

    color: #333333;
}