

.section-1 .welcome-information
{
    margin-top: 50px;
}

.section-1 .welcome-information .col h6
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #7B7A83;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.section-1 .welcome-information .col h1
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}