.modal-content
{
    background: #2A5EE8;
}

.modal-title
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.form-text
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    display: flex;
    align-items: center;
    letter-spacing: 0.15em;

    color: #FFFFFF;
}

.form-text-mini
{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #DA1414;
}

.btn-primary
{
    width: 445px;
    height: 60px;

    margin-top: 80px;
    margin-bottom: 116px;
    background: #FFFFFF;
    border-radius: 25px;
    border: 0;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;

    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #2A5EE8;
}