.section-3
{
    margin-top: 70px;
}

.section-3 h1
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #111111;
}

.section-3 .nav-item
{
    margin-top: 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.15em;

    color: #333333;
}

.section-3 .nav-item:hover
{
    color: #2A5EE8;
}

.section-3 .billet h2
{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;

    /* Typography / Title */

    color: #111111;
}

.section-3 .row
{
    margin-top: 100px;
}

.billet input {
    border-radius: 25px;
    padding: 11px 16px 11px 16px;
}